.mouse-dot {
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate3d(0, 0, 0) translate(-50%, -50%);
  will-change: transform;
  mix-blend-mode: difference;
  transition: opacity 0.2s ease;
}

.mouse-ring {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 239, 211, 0.2);
  border-radius: 50%;
  border-style: solid;
  pointer-events: none;
  z-index: 9998;
  transform: translate3d(0, 0, 0) translate(-50%, -50%);
  will-change: transform;
  mix-blend-mode: difference;
  transform-origin: center center;
  opacity: 0.9;
  transition: 
    border-color 0.3s ease,
    opacity 0.2s ease;
}

/* Hide default cursor and show custom cursor when needed */
@media (pointer: coarse) {
  html {
    cursor: default;
  }
  .mouse-dot,
  .mouse-ring {
    display: none;
  }
}