/* src/pages/Home/Home.css */
.home-page {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

.section-spacing {
  margin: 0px;
  padding: 0 0;
}

.dark-bg {
  /* background-color: var(--extra-light-gray); */
}

[data-theme="dark"] .dark-bg {
  /* background-color: rgba(30, 30, 30, 0.7); */
}

/* Responsive spacing */
@media (max-width: 1024px) {
  .section-spacing {
    padding: 5rem 0;
  }
}

@media (max-width: 768px) {
  .section-spacing {
    padding: 4rem 0;
  }
}

@media (max-width: 480px) {
  .section-spacing {
    padding: 3rem 0;
  }
}